/* Style the grid container */

.checkbox-grid-container {
  border: 2px solid #ccc;
  padding: 10px;
  width: 550px;
  margin-bottom:10px;
}

.checkbox-title {
  margin-bottom: 10px;
  font-weight:bold;
}

.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-grid .col {
  display: inline-block !important;
  vertical-align: top !important;
  width: 250px !important;
  margin-right: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

.checkbox-grid .col label {
  vertical-align: top !important;
  display: inline-block !important;
}

.news-container {
  padding-bottom:15px !important;
}
.new-container.readMore {
  color:red;
}
.views-field.views-field-title {  
  color:blue;
}  
.button-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff; /* Set your desired button background color */
  color: #fff; /* Set the text color */
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #0056b3; /* Change the background color on hover */
  color:#fff;
}
.views-field.views-field-body {
}