.block-field-blocknodepagetitle span {
  display:none !important;
}

.chartContainer {
  border-right:1px solid #C6C3C5;
  padding-right:20px;
  padding-bottom:30px !important;
}
.chartContainer h5 {
color:#6B6262;
}

#chart { 
  margin-bottom:30px !important;
  margin-top:30px !important;
	width:300px !important;
	height:300px !important;
  cursor:pointer;
}

.chartContainer button {
	background-color:#0E7983;
	color:#fff;
	font-weight:bold;
	padding:15px;
	width:100%;
}
#table-container th {
	text-align:left !important;
}

#table-container tr {
	border:1px solid #DBDBDB;
}


#table-container caption {
	text-align:left;
}

.button.portal {
	width:100%;
}
