<div id="gdc-custom-header-menu">
    <nav>
        <ul>
            <li>
                <a href="http://cancer.gov/aboutnci/organization/ccg/">CCG Web Site&nbsp;</a>
            </li>
            <li>
                <a href="/contact-us">Contact Us</a>
            </li>
            <li>
                <a class="button" href="https://portal.gdc.cancer.gov"><span>Launch Data Portal</span></a>
            </li>
            <li>
                <a class="" data-allow-html="true" type="button" data-tooltip="" tabindex="1" title="" transfer="" submission="" data-position="bottom" data-alignment="center">GDC Apps</a>
            </li>
        </ul>
    </nav>
</div>
