/* Style the grid container */

.checkbox-grid-container {
  border: 2px solid #ccc;
  padding: 10px;
  width: 550px;
  margin-bottom:10px;
}

.checkbox-title {
  margin-bottom: 10px;
  font-weight:bold;
}

.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-grid .col {
  display: inline-block !important;
  vertical-align: top !important;
  width: 250px !important;
  margin-right: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

.checkbox-grid .col label {
  vertical-align: top !important;
  display: inline-block !important;
}

span.plusminus {
  cursor: pointer;
  display: inline-block; /* Change display to inline-block */
  width: 15px;
  padding-right: 25px;
}
.faq-container {
  padding-bottom:5px !important;
}
.views-field.views-field-body {
  padding-left:25px;
}