{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set counter=0 %}
{% set former=0 %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set counter=counter+1 %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {% set person_entity = row.content['#row']._relationship_entities.field_person_ref %}
  {% if not person_entity.field_former.value %}
    {% set former=0 %}

  {% elseif person_entity.field_former.value %}
    {% if former==0 %}
        <p class="bioGridFormer institution">Former {{ title }} GDC Leads</p>
        {% set former=1 %}
    {% endif %}
  {% endif %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}

