{%
  set view = row.view
%}

{% for item in rows[0]['#rows'] %}
  {# Access the #row object #}
  {% set row = item['#row'] %}

  <div class="views-row">
    {# Access field values within the #row object using _entity property #}
    {% set title = row._entity.title.value %}
    {% set body = row._entity.body.value %}
    {% set subject_tags = row._entity.field_subject_tags.value|raw %}

    <h5>{{ title }}</h5>
    <div class="body">{{ body|raw }}</div>
    <div class="subject-tags">{{ subject_tags }}</div>

  </div>
{% endfor %}

{{ dump(rows.0['#rows']) }}<br />

